<!DOCTYPE html>
<html>
<head>
  <title>Quizlet</title>
</head>
<body>
  <h1>Welcome Quizlet Clone</h1>
  <button onclick="getDecks()">Load decks</button>

  <ul id="list"></ul>

  <script>
    async function getDecks() {
      const res = await fetch("/decks");
      const data = await res.json();

      const list = document.getElementById("list");
      list.innerHTML = "";

      data.forEach(d => {
        const li = document.createElement("li");
        li.innerText = d.title;
        list.appendChild(li);
      });
    }
  </script>
</body>
</html>